:root{
    --back: rgb(222, 222, 222);
    --back2: #fff;
    --font: rgb(25, 25, 25);
}
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
body{
    background-color: var(--back);
    color: var(--font);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 2rem;
}
#mainpart,
#karte{
    width: 60vw;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--back2);
    filter: drop-shadow(#bbb 10px 10px 10px);
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0rem;
}
#subhead{
    margin-top: -1rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading,
#timerow{
    padding-left: .5rem;
    padding-right: .5rem;;
}
#timerow{
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
    padding-top: .5rem;
    background-color: var(--back2);
    filter: drop-shadow(#bbb 0px 5px 10px);
}
#timerow #time{
    margin-left: auto;
    font-size: 120%;
}
.blocks{
    margin-top: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
summary {
    list-style: none;
    display: flex;
    width:auto;
    user-select: none;
}
summary::-webkit-details-marker {
    display: none;
}
.expand{
    margin-left: auto;
    font-size: 180%;
    transition: all .3s;
    margin-top: -.5rem;
    margin-right: .5rem;
}
details[open] .expand{
    transform: rotate(45deg);
}
.block{
    border-bottom: 1px solid #bbb;
    margin-top: 1rem;
    padding-left: .2rem;
}
.block:last-child{
    border-bottom: none;
}
.small{
    font-size: 80%;
}
.active{
    background-color: rgb(195, 255, 163);
}
.finish{
    color: grey;
}
#legend{
    display: flex;
    margin-top: .5rem;
}
.box{
    width: 1.1rem;
    height: 1.1rem;
    margin-right: .5rem;
    display: inline-block;
}
table{
    background-color: var(--font);
    width: 100%;
}
td{
    background-color: var(--back2);
    padding: .2rem;
}
.thead{
    font-weight: bold;
    font-size: 120%;
}
li{
    margin-left: -1rem;
}
details[finish] summary,
details.finish summary,
details[finish]{
    pointer-events: none; /* prevents click events */
    user-select: none; /* prevents text selection */
}
#btn{
    background-color: var(--back2);
    width: 8rem;
    padding: .1rem .5rem;
    filter: drop-shadow(#bbb 10px 10px 10px);
    font-size: 150%;
    position: fixed;
    z-index: 5;
    bottom: 0;
    margin-bottom: 2rem;
    border: 1px solid var(--font);
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    user-select: none;
}
#karte{
    display: none;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    background-color: var(--back2);
    filter: drop-shadow(#bbb 10px 10px 10px);
}
#karteimg{
    width: 95%;
    margin-top: 3%;
    height: auto;
    z-index: 6;
}
#X{
    position: absolute;
    right: 0;
    z-index: 10;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    font-size: 120%;
    width: 2rem;
    height: 2rem;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}
#legend2{
    text-align: left;
}
#legend2 .box{
    margin-left: .5rem;
}
.red{
    background-color: red;
}
.orange{
    background-color: #ff9d00;
}
.lgreen{
    background-color: #1eff00;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: #0076ff;
}
.pink{
    background-color: #ff00eb;
}
.azur{
    background-color: #00d4ff;
}
#modal{
    font-size: 200%;
    text-align: center;
}
#mbtn{
    background-color: white;
    border: black solid 2px;
    margin-top: 1rem;
    outline: none;
    font-size: 90%;
    padding: 2px 10px;
    text-transform: capitalize;
    user-select: none;
}

@media (max-width: 600px) {
    #mainpart,
    #karte{
        width: 90vw;
        margin-top: 1rem;
    }
    #X{
        margin-right: 1rem;
        margin-top: 1rem;
    }
    #modal{
        max-width: 60%;
        font-size: 180%;
    }
}
@media (min-width: 600px) {
    #heading{
        display: flex;
    }
    #subhead{
        margin-top: 0.5rem;
        margin-left: auto;
    }
}